<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static "css/demo1.css" %}">
    <title>Pune Jobs Info</title>
  </head>
  <body>
    <h1>Pune jobs Information</h1>
    <img src="{% static "images/pune1.jpg" %}" alt="" height="300px" width="400px">
    <img src="{% static "images/pune2.png" %}" alt="" height="300px" width="400px">
    <img src="{% static "images/pune3.png" %}" alt="" height="300px" width="400px">
    <hr>
    {% if job_list %}
    <table>
      <thead>
        <td>Date</td>
        <td>Company</td>
        <td>Title</td>
        <td>Eligibility</td>
        <td>Address</td>
        <td>Email</td>
        <td>Phone No.</td>
      </thead>

      {% for job in job_list%}
      <tr>
        <td>{{job.date}}</td>
        <td>{{job.company}}</td>
        <td>{{job.title}}</td>
        <td>{{job.eligibility}}</td>
        <td>{{job.address}}</td>
        <td>{{job.email}}</td>
        <td>{{job.phonenumber}}</td>
      </tr>
      {% endfor%}
    </table>
    {%else%}
    <p>No jobs found in your preference</p>
    {% endif%}

  </body>
</html>
